RESTREVIEWS_DB_URI = mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
RESTREVIEWS_NS = <dbname>
PORT = 8000
JWT_SECRET = <a long random string>
FRONTEND_ORIGIN = http://localhost:3000
